doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Bogota para todos
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style2.css')
  body
    .container-fluid
      .row
        .col-xs-6.col-xs-offset-3.col-sm-4-col-sm-offset-4.col-md-2.col-md-offset-5
          img.img-responsive.logo(src="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/filbo/bogotamejorparatodos_blanco.svg", alt="Bogot치 mejor para todos")
      .row
        h1.text-center 
          | Esta es la Bogot치 
          br
          strong que vamos a construir
      .row
        .col-xs-10.col-xs-offset-1
          p.text-center.hero Haz click y conoce cada uno de los planes que tenemos para Bogot치. 
      .row
        .col-xs-12#video-container
          video.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/video1.mp4"  preload="auto" poster="http://d1q7w1k8zlumh6.cloudfront.net/filbo/poster.png")
            source(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/video1.mp4" type="video/mp4")
            source(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/video1.webm" type="video/webm")  
      .row.icons-wrapper
        .col-xs-12
          .col-xs-3.icon-container
            .number-container.number1.hidden-xs
              .number 01
            .img-container
              img.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/1.svg", alt="")
          .col-xs-3.icon-container
            img.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/2.svg", alt="")
          .col-xs-3.icon-container
            img.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/3.svg", alt="")
          .col-xs-3.icon-container
            img.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/4.svg", alt="")
          .col-xs-3.icon-container
            img.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/5.svg", alt="")
          .col-xs-3.icon-container
            img.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/6.svg", alt="")
          .col-xs-3.icon-container
            img.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/7.svg", alt="")
          .col-xs-3.icon-container
            img.img-responsive(src="http://d1q7w1k8zlumh6.cloudfront.net/filbo/8.svg", alt="")
    footer.footer
      .container
        .col-xs-8
          p.text-muted Comparte la Bogot치 que estamos construyendo
        .col-xs-4.no-padding.text-right.redes-sociales
          ul.list-inline
            li
              a(href="#")
                i.fa.fa-facebook-square
            li
              a(href="#")
                i.fa.fa-twitter
            li
              a(href="#")
                i.fa.fa-google-plus

    script(src="js/socket.io.js")
    script(src="js/parallax.min.js")
    script.
      var socket = io();
      socket.on('update', function(data){
        console.log(data);
        var id = data.option.id;
        var count = data.option.count;
        document.getElementById(id).innerHTML= count;
      });
